.container{
  width: 100px;
  margin: 10px;
  a{
    color: #EFEFEF;
    text-decoration: none;
  }


}

.underline{
  margin: 10px 0 10px 0;
}
.space-line{
  margin-top: 10px;
  height: 1.5px;
  background: #EFEFEF;
  width: 100%;
  border-radius: 50px;
}
