<form  *ngIf="showMenu">
  <div class="menu">
    <div class="container">
      <div class="item" >
        <form>
            <ul >
              <li><a routerLink="/home">Home</a></li>
              <div class="underline">
                <div class="space-line align-center"> </div>
              </div>
              <li><a routerLink="/shopping">Catalog</a></li>
              <div class="underline">
                <div class="space-line align-center"> </div>
              </div>
              <li><a routerLink="/about-us">About us</a></li>
              <div class="underline">
                <div class="space-line align-center"> </div>
              </div>
              <li><a routerLink="/faq">FAQ</a></li>
              <div class="underline">
                <div class="space-line align-center"> </div>
              </div>

            </ul>
        </form>
      </div>

    </div>
  </div>

</form>
