@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins');

#layer1{
  height: 533px;
  background:  url("../../../assets/back.png");
  background-size: cover;
  margin-top: -98px;

}



.main_content{

  margin-top: -17px;

}


.list{
  margin-top: 80px;
  margin-bottom: 80px;
}
