<div id="layer1">
</div>
<section class="team">
  <div class="container">
    <h2 class="title align-center">Our powerful sales team</h2>
    <div class="underline">
      <div class="space-line align-center"> </div>
    </div>
    <div class="about">
      <div class="person fs">
        <div class="img">
          <img src="../../../../../assets/fs.jpg" 	width="400" height="400">
        </div>
        <h3 class="name align-center">Maximka</h3>
        <h3 class="position">Sales Manager</h3>
      </div>
      <div class="person sd">
        <div class="img">
          <img src="../../../../../assets/me.jpg" 	width="400" height="400">
        </div>
        <h3 class="name align-center">Oleksii</h3>
        <h3 class="position">Purchasing officer</h3>
      </div>

      <div class="person th">
        <div class="img">
          <img src="../../../../../assets/th.jpg" 	width="400" height="400">
        </div>
        <h3 class="name align-center">Nasty</h3>
        <h3 class="position">Service advisor</h3>
      </div>
      <div class="person fr">
        <div class="img">
          <img src="../../../../../assets/fr.jpg" 	width="400" height="400">
        </div>
        <h3 class="name align-center">Bogdan</h3>
        <h3 class="position">Business analyst</h3>
      </div>
    </div>
  </div>
</section>
