

  <div class="footer">
    <div class="contain">
      <div class="col">
        <h1>About</h1>
        <ul>
          <li>About Us</li>
          <li>Careers</li>
          <li>Corporate Sales</li>
          <li>Where to Buy</li>
        </ul>
      </div>
      <div class="col">
        <h1>Suport</h1>
        <ul>
          <li>Contacts</li>
          <li>Returns</li>
          <li>Warranty</li>
          <li>SProduct Regestration</li>
          <li>Help</li>
        </ul>
      </div>
      <div class="col">
        <h1>Legal</h1>
        <ul>
          <li>Privacy</li>
          <li>Terms</li>
          <li>Patents</li>
        </ul>
      </div>
    </div>
    <div class="clearfix">&copy; Copyrigth MoveToLife 2020</div>
  </div>


